React/02-ignite-template-componentizando-a-aplicacao-main/.dccache
React/02-dt-money-03/.dccache
React/02-dt-money-03/.env
React/02-dt-money/.dccache
BackEnds/02-dt-money/.dccache
BackEnds/02-dt-money/.dccache
BackEnds/.dccache
